.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    background-color: #282c34;
    color:white;
    position:absolute;
}

.sideBar{
    width:260px;
    padding:10px;
    background-color:#202123;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatBox{
    flex:1;
    background-color:#343541;
    position:relative;
    /* overflow-y:scroll; */
    padding-bottom:95px;
}

.sideBarTopButton{
    padding:12px;
    border:1px solid white;
    border-radius:5px;
    text-align: left;
    cursor:pointer;
}
.sideBarTopButton:hover{
    background-color:rgba(255,255,255,0.1);
}

.chatGroup{
    flex-grow: 1;
}

.sideBarChatButton{
    padding:12px;
    border-radius:5px;
    text-align: left;
    cursor:pointer;
}
.sideBarChatButton:hover{
    background-color:rgba(255,255,255,0.1);
}

.sideBarBottomButton{
    border-radius:5px;
    padding:12px;
    border:none;
    text-align: left;
    cursor:pointer;
}
.sideBarBottomButton:hover{
    background-color:rgba(255,255,255,0.1);
}

.inputBox{
    padding:24px;
    position:absolute;
    bottom:0;
    left:0;right:0;
    display: flex;
    gap: 10px;
}

input{
    background-color:#40414f;
    width:90%;
    padding:12px;
    border-radius:5px;
    color:white;
    font-size:1.25em;
    border:none;
    outline:none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

button{
    transform: rotate(90deg);
    margin-right: 13px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

hr{
    border-top: 1px solid #bbb;
}

.messagesLog {
    position: absolute;
    top:0;right:0;bottom:89px;left:0;
    overflow-y:scroll;
    text-align: left;
}

.message{
    display: flex;
    gap: 20px;
    max-width:640px;
    margin-left:auto;
    margin-right:auto;
    padding:12px 24px;
}